body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-wrap: wrap; /* Va a capo se non c'è spazio sufficiente */
  gap: 10px;
  margin-top: 10px;
}

.container {
  justify-content: center;
  text-align: flex-start;
  max-width: 100%;
}

.sopra {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px; /* Spazio tra gli elementi */
  margin-top: 20px;
}

.containerimg {
  width: 80%; /* Imposta la larghezza della div, puoi cambiarla in base alle tue esigenze */
  margin: 0 auto; /* Centra la div orizzontalmente */
  display: flex; /* Per allineare le immagini in linea */
  justify-content: center; /* Centra le immagini nella div */
  flex-wrap: wrap; /* Permette di andare a capo se non c'è abbastanza spazio */
  gap: 10px; /* Spazio tra le immagini */
}

.canvasdiv {
  display: flex;
}

input {
  margin-bottom: 10px;
  padding: 5px;
  width: 100px;
}

canvas {
  border: 2px solid black; /* Bordo di 2px di colore nero */
  background-color: #f0f0f0; /* Sfondo chiaro per distinguere il canvas */
}

#canvas {
  border-right: none; /* Rimuovi il bordo destro solo dal primo canvas */
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  position: relative;
}

#yesButton {
  left: 75px;
}
#noButton {
  left: 175px;
}

button:hover {
  background-color: #45a049;
}

header {
  color: #35424a;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
}

section {
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h2 {
  color: #35424a;
}
